
html{
  background-color: #0b0c0c;
}
a{
  all: inherit;
  cursor: pointer;
}
.about,
.skills {
  position: relative;
  display: inline-block;
}
.navBar-font-weight{
  font-weight: 700;
}
.about {
  min-width: 2.938rem;
}
.skills {
  min-width: 2.438rem;
}
.contact,
.education,
.experience,
.projects {
  position: relative;
  display: inline-block;
  min-width: 4.75rem;
}
.contact,
.experience,
.projects {
  min-width: 3.875rem;
}
.contact,
.experience {
  min-width: 5.25rem;
}
.contact {
  min-width: 3.813rem;
}
.connection,
.connection-wrapper {
  margin: 0;
  display: flex;
  align-items: flex-start;
}
.connection {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-peru);
  font-family: var(--font-inter);
}
.connection-wrapper {
  width: 40.563rem;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-mini) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.righ-content {
  align-self: stretch;
  width: 0.125rem;
  transform: rotate(180deg);
}
.resume {
  position: relative;
  font-size: var(--font-size-sm);
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-peru);
  text-align: left;
  display: inline-block;
  min-width: 3.375rem;
}
.top-fixed{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #0b0c0c;
  z-index: 1000; 
}
.download-resume,
.list-item,
.value-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  
  /* z-index: 1030; */
}
.download-resume {
  cursor: pointer;
  border: 1px solid var(--color-peru);
  padding: var(--padding-base) 1.438rem;
  background-color: transparent;
  border-radius: var(--br-5xs);
  overflow: hidden;
  justify-content: flex-start;
}
.download-resume:hover {
  background-color: rgba(133, 97, 46, 0.09);
  border: 1px solid var(--color-saddlebrown-100);
  box-sizing: border-box;
}
.list-item,
.value-container {
  align-self: stretch;
  max-width: 100%;
}
.list-item {
  width: 75.063rem;
  justify-content: space-between;
  gap: var(--gap-xl);
  padding-top: 1rem;
}
.value-container {
  /* height: 13.188rem; */
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-xl) 1.313rem;
  box-sizing: border-box;
}
.name {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.description {
  align-self: stretch;
  position: relative;
  line-height: 2rem;
  margin-bottom: 2rem;
}
.email-icon,
.github-icon,
.linkedin-icon {
  height: 1.5rem;
  width: 1.5rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 1.5rem;
  cursor: pointer;
}
.message-processor {
  width: 8.5rem;
  height: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.button {
  align-self: stretch;
  gap: var(--gap-5xs);
  font-size: var(--font-size-base);
  color: var(--color-antiquewhite);
  font-family: var(--font-inter);
}
.button,
.tabbed-panel,
.tabbed-panel-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.tabbed-panel {
  align-self: stretch;
  gap: 2rem;
}
.tabbed-panel-wrapper {
  width: 33.625rem;
  padding: 4rem 0 0;
  box-sizing: border-box;
  min-width: 33.625rem;
  max-width: 100%;
}
.front-icon {
  height: 27.313rem;
  width: 21rem;
  position: relative;
  border-radius: var(--br-base);
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  max-width: 100%;
}
.separator,
.separator-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 100%;
}
.span-top{
  padding-top: 13.188rem;
}
.separator {
  width: 75.25rem;
  justify-content: center;
  gap: var(--gap-29xl);
}
.separator-wrapper {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-xl) 12rem 2.75rem;
  box-sizing: border-box;
  text-align: left;
  font-size: 2.75rem;
  color: var(--color-peru);
  font-family: var(--font-plus-jakarta-sans);
}
.title,
.title1 {
  position: relative;
  display: inline-block;
}
.title {
  width: 10.313rem;
}
.title1 {
  flex: 1;
  font-size: var(--font-size-base);
  font-weight: 500;
  font-family: var(--font-plus-jakarta-sans);
  color: var(--color-darkslategray);
  text-align: center;
  min-width: 5.438rem;
}
.crown-icon {
  height: 1.5rem;
  width: 1.5rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.icon {
  /* cursor: pointer; */
  border: 0;
  padding: var(--padding-8xs) var(--padding-16xl);
  background-color: var(--color-antiquewhite);
  width: 9.813rem;
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  gap: var(--gap-3xs);
}
.description1 {
  align-self: stretch;
  height: 2.563rem;
  position: relative;
  line-height: 1.5rem;
  display: inline-block;
  flex-shrink: 0;
  color: #000;
}
.description-wrapper,
.service-item {
  width: 33.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) 0 0;
  box-sizing: border-box;
  max-width: 100%;
  transition: filter 0.3s ease;
}
.service-item {
  width: 65.375rem;
  border-radius: var(--br-5xs);
  background-color: var(--white);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-5xl) var(--padding-11xl) var(--padding-mid);
  gap: 4.125rem;
  text-align: left;
}
.service-item1:hover, .service-item:hover{
  filter: brightness(95%);
}
.title2 {
  flex: 1;
  position: relative;
  font-size: var(--font-size-base);
  font-weight: 500;
  font-family: var(--font-plus-jakarta-sans);
  color: var(--color-darkslategray);
  text-align: center;
}
.crown-icon1 {
  height: 1.5rem;
  width: 1.5rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.icon1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-8xs) 1.219rem;
  background-color: var(--color-antiquewhite);
  width: 11.5rem;
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  gap: var(--gap-3xs);
  white-space: nowrap;
}
.description2 {
  align-self: stretch;
  height: 2.563rem;
  position: relative;
  line-height: 1.5rem;
  display: inline-block;
  flex-shrink: 0;
  color: #000;

}
.description-container,
.service-item1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
  transition: filter 0.3s ease;

}
.description-container {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-8xs) 0 0;
  min-width: 25.125rem;
}
.service-item1 {
  width: 65.375rem;
  border-radius: var(--br-5xs);
  background-color: var(--white);
  overflow: hidden;
  flex-direction: row;
  flex-wrap: wrap;
  padding: var(--padding-5xl) var(--padding-11xl) var(--padding-mid);
  gap: 2.5rem;
  text-align: left;
}
.crown-icon2 {
  height: 1.5rem;
  width: 1.5rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.title3 {
  flex: 1;
  position: relative;
  font-size: var(--font-size-base);
  font-weight: 500;
  font-family: var(--font-plus-jakarta-sans);
  color: var(--color-darkslategray);
  text-align: center;
  display: inline-block;
  min-width: 6.875rem;
}
.icon2 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-8xs) 1.469rem;
  background-color: var(--color-antiquewhite);
  width: 9.813rem;
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  gap: var(--gap-3xs);
}
.description3 {
  align-self: stretch;
  height: 2.563rem;
  position: relative;
  line-height: 1.5rem;
  display: inline-block;
  flex-shrink: 0;
  color: #000;

}
.description-frame,
.service-item2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.description-frame {
  /* flex: 1; */
  flex-direction: column;
  padding: var(--padding-8xs) 0 0;
  min-width: 27.063rem;
}
.service-item2 {
  width: 65.375rem;
  border-radius: var(--br-5xs);
  background-color: var(--white);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-5xl) 0 var(--padding-mid) var(--padding-11xl);
  gap: 3.625rem;
}
.description4 {
  position: absolute;
  top: 10.563rem;
  left: 3.563rem;
  line-height: 1.5rem;
  display: inline-block;
  width: 15.438rem;
}
.title4 {
  position: absolute;
  top: 8.063rem;
  left: 5.156rem;
  font-size: var(--font-size-base);
  font-weight: 500;
  font-family: var(--font-plus-jakarta-sans);
  text-align: left;
}
.app-icon {
  height: 1.5rem;
  width: 1.5rem;
  position: relative;
}
.icon3 {
  position: absolute;
  top: 3.313rem;
  left: 9.531rem;
  border-radius: var(--br-base);
  background-color: var(--purple-light);
  height: 3.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base);
  box-sizing: border-box;
}
.service-item3 {
  width: 65.375rem;
  height: 18.375rem;
  position: relative;
  border-radius: var(--br-5xs);
  background-color: var(--white);
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  max-width: 100%;
}
.description5 {
  position: absolute;
  top: 10.563rem;
  left: 3.563rem;
  line-height: 1.5rem;
  display: inline-block;
  width: 15.438rem;
}
.title5 {
  position: absolute;
  top: 8.063rem;
  left: 6.781rem;
  font-size: var(--font-size-base);
  font-weight: 500;
  font-family: var(--font-plus-jakarta-sans);
  text-align: left;
}
.globe-icon {
  height: 1.5rem;
  width: 1.5rem;
  position: relative;
}
.icon4 {
  position: absolute;
  top: 3.313rem;
  left: 9.531rem;
  border-radius: var(--br-base);
  background-color: var(--purple-light);
  height: 3.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base);
  box-sizing: border-box;
}
.service-item4 {
  width: 22.563rem;
  height: 18.375rem;
  position: relative;
  border-radius: var(--br-5xs);
  background-color: var(--white);
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  max-width: 100%;
}
.items,
.skills-wrapper,
.skills1 {
  
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.skills-wrapper,
.skills1 {
  justify-content: center;
  /* space-between; */
  box-sizing: border-box;
  
  background-color: var(--color-seashell);
}
.skills1 {
  align-content: center;
  flex: 1;
  background-color: var(--color-seashell);
  flex-direction: column;
  padding:  var(--padding-103xl) var(--padding-103xl);
  gap: 4.375rem;
}
.skills-wrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 8.188rem;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-darkslategray);
  font-family: var(--font-plus-jakarta-sans);
}
.items {
  width: 73.125rem;
  flex-direction: column;
  gap: 3.5rem;
  text-align: center;
  font-size: var(--font-size-sm);
  font-family: var(--font-inter);
}
.title6 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.title-wrapper {
  width: 27.5rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.education-wrapper{
  margin-right: var(--padding-505xl);
}
.circle {
  width: 1rem;
  height: 1rem;
  position: relative;
  border-radius: 50%;
  background-color: var(--white);
}
.circle-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.university-name {
  position: relative;
  font-weight: 500;
}
.frame-div {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.degree-field {
  position: relative;
  color: var(--color-whitesmoke);
}
.date,
.degree-field1 {
  position: relative;
  display: inline-block;
  min-width: 6.25rem;
}
.date {
  font-weight: 500;
  min-width: 5.25rem;
}
.degree-field-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs-5);
}
.line {
  height: 9.688rem;
  width: 0.063rem;
  position: absolute;
  margin: 0 !important;
  bottom: -4.687rem;
  left: 0.5rem;
  border-right: 1px solid var(--white);
  box-sizing: border-box;
  z-index: 1;
}
.frame-container,
.frame-parent1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent1 {
  flex-direction: row;
  padding: 0 0 0 var(--padding-17xl);
  position: relative;
  font-size: var(--font-size-sm);
  color: var(--light-4);
  font-family: var(--font-inter);
}
.frame-container {
  flex-direction: column;
  gap: var(--gap-3xs);
}
.circle1 {
  width: 1rem;
  height: 1rem;
  position: relative;
  border-radius: 50%;
  background-color: var(--white);
}
.circle-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.university-name1 {
  position: relative;
  font-weight: 500;
}
.frame-parent3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.degree-field2 {
  position: relative;
}
.date1,
.degree-field3 {
  position: relative;
  display: inline-block;
  min-width: 6.625rem;
}
.date1 {
  font-weight: 500;
  min-width: 5.188rem;
}
.output-processor {
  flex-direction: column;
  gap: var(--gap-9xs-5);
}
.frame-parent2,
.input-filter,
.output-processor,
.universities {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.input-filter {
  flex-direction: row;
  padding: 0 0 0 var(--padding-17xl);
  font-size: var(--font-size-sm);
  color: var(--color-whitesmoke);
  font-family: var(--font-inter);
}
.frame-parent2,
.universities {
  flex-direction: column;
}
.frame-parent2 {
  gap: var(--gap-3xs);
}
.universities {
  height: 30rem;
  width: 25.063rem;
  border-radius: var(--br-5xs);
  padding: var(--padding-21xl) var(--padding-9xs);
  box-sizing: border-box;
  gap: 4rem;
  min-width: 25.063rem;
  max-width: 100%;
}
.courses {
  margin: 0;
  text-decoration: underline;
}
.design-patterns-web {
  margin: 0;
  color: var(--color-whitesmoke);
  
}
.description6 {
  align-self: stretch;
  position: relative;
  line-height: 2rem;
}
.description-wrapper1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-16xl) 0 0;
  box-sizing: border-box;
  min-width: 23.75rem;
  /* max-width: 100%; */
  max-width: 50%;
  color: var(--color-seashell);
  font-family: var(--font-inter);
}
.frame-wrapper,
.universities-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.universities-parent {
  width: 70.813rem;
  justify-content: flex-start;
  /* gap: 9.25rem; */
}
.frame-wrapper {
  width: 88.813rem;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}
.sofi,
.title7 {
  position: relative;
}
.title7 {
  margin: 0;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.sofi {
  font-weight: 500;
  display: inline-block;
  min-width: 2.125rem;
}
.sofi-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs-5) 0 0;
}
.right-icon {
  height: 1.5rem;
  width: 1.5rem;
  position: relative;
  min-height: 1.5rem;
}
.applle {
  align-self: stretch;
  flex: 1;
  border-radius: var(--br-9xs);
  background-color: var(--white);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-sm) var(--padding-13xl);
  gap: var(--gap-xl);
  color: var(--color-peru);
}
.schlumberger {
  position: relative;
  display: inline-block;
  min-width: 6.625rem;
  font-weight: 500;
}
.schlumberger-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-5xl);
}
.work-unselected-wrapper {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-5xl);
}
.work-unselected-wrapper {
  position: relative;
  display: inline-block;
  min-width: 5.313rem;
}
.applle-parent,
.iit-bombay-wrapper,
.title-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.iit-bombay-wrapper {
  flex-direction: row;
  padding: 0 var(--padding-5xl);
}
.applle-parent,
.title-parent {
  flex-direction: column;
}
.applle-parent {
  align-self: stretch;
  flex: 1;
  gap: 2.344rem;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
}
.title-parent {
  height: 19.188rem;
  width: 17.5rem;
  gap: var(--gap-78xl);
  min-width: 17.5rem;
}
.software-developer-intern {
  white-space: pre-wrap;
}
.sofi1 {
  text-decoration: underline;
}
.software-developer-intern-sof {
  margin: 0;
}
.job-title {
  align-self: stretch;
  position: relative;
  font-weight: 500;
}
.location {
  position: relative;
  font-size: var(--font-size-sm);
  font-family: var(--font-inter);
  color: var(--cinder-light);
}
.job-title-parent {
  width: 24.313rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  max-width: 100%;
  font-size: var(--font-size-lg);
  color: var(--color-darkslategray);
  font-family: var(--font-plus-jakarta-sans);
}
.period,
.swift {
  position: relative;
  font-weight: 500;
}
.period {
  align-self: stretch;
  line-height: 1.5rem;
}
.swift {
  font-size: var(--font-size-xs);
  font-family: var(--font-inter);
  color: var(--cinder-light);
  text-align: left;
  display: inline-block;
  min-width: 1.688rem;
}
.tag {
  cursor: pointer;
  border: 1px solid var(--cinder-light);
  padding: var(--padding-9xs) var(--padding-6xs);
  background-color: transparent;
  width: 2.688rem;
  border-radius: var(--br-9xs);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.tag1:hover,
.tag2:hover,
.tag3:hover,
.tag:hover {
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
}
.swift1 {
  position: relative;
  font-size: var(--font-size-xs);
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--cinder-light);
  text-align: left;
  display: inline-block;
  min-width: 2.063rem;
}
.tag1 {
  cursor: pointer;
  border: 1px solid var(--cinder-light);
  padding: var(--padding-9xs) var(--padding-6xs);
  background-color: transparent;
  width: 3.063rem;
  border-radius: var(--br-9xs);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.swift2 {
  position: relative;
  font-size: var(--font-size-xs);
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--cinder-light);
  text-align: left;
  display: inline-block;
  min-width: 4.25rem;
}
.tag2 {
  cursor: pointer;
  border: 1px solid var(--cinder-light);
  padding: var(--padding-9xs) var(--padding-6xs);
  background-color: transparent;
  flex: 1;
  border-radius: var(--br-9xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  white-space: nowrap;
}
.swift3 {
  position: relative;
  font-size: var(--font-size-xs);
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--cinder-light);
  text-align: left;
  display: inline-block;
  min-width: 4.688rem;
}
.period-parent,
.tag-parent,
.tag3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.tag3 {
  cursor: pointer;
  border: 1px solid var(--white);
  padding: var(--padding-9xs) var(--padding-6xs);
  background-color: transparent;
  flex: 1;
  border-radius: var(--br-9xs);
  flex-direction: row;
}
.period-parent,
.tag-parent {
  max-width: 100%;
}
.tag-parent {
  width: 20.25rem;
  flex-direction: row;
  gap: 1.188rem;
}
.period-parent {
  width: 21.063rem;
  flex-direction: column;
  padding: 0 0 var(--padding-mid);
  box-sizing: border-box;
  gap: var(--gap-base);
  font-size: var(--font-size-sm);
}
.line-wrapper,
.line1 {
  align-self: stretch;
  box-sizing: border-box;
  max-width: 100%;
}
.line1 {
  flex: 1;
  position: relative;
  border-top: 1px solid var(--cinder-light);
}
.line-wrapper {
  height: 1.106rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 1.044rem;
}
.line2 {
  width: 0.625rem;
  height: 0.125rem;
  position: relative;
  background-color: var(--light-4);
}
.line-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xs-3) 0 0;
}
.developed-a-new {
  position: relative;
}
.frame-parent5 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lg);
}
.line3 {
  width: 0.625rem;
  height: 0.125rem;
  position: relative;
  background-color: var(--light-4);
}
.line-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xs-3) 0 0;
}
.engineered-efficient-rest {
  height: 2.25rem;
  flex: 1;
  position: relative;
  display: inline-block;
  min-width: 30.75rem;
  max-width: 100%;
}
.frame-parent6 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lg);
  max-width: 100%;
}
.line4 {
  width: 0.625rem;
  height: 0.125rem;
  position: relative;
  background-color: var(--light-4);
}
.line-wrapper1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xs-3) 0 0;
}
.achieved-an-optimized {
  flex: 1;
  position: relative;
  display: inline-block;
  min-width: 30.813rem;
  max-width: 100%;
}
.frame-parent7 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lg);
  max-width: 100%;
}
.line5 {
  width: 0.625rem;
  height: 0.125rem;
  position: relative;
  background-color: var(--light-4);
}
.line-wrapper2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.456rem 0 0;
}
.created-reactjs-page {
  flex: 1;
  position: relative;
  display: inline-block;
  min-width: 30.25rem;
  max-width: 100%;
}
.frame-parent8 {
  width: 48.313rem;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-lg);
}
.experience-inner,
.experience1,
.frame-parent4,
.frame-parent8 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent4 {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.experience-inner,
.experience1 {
  box-sizing: border-box;
}
.experience-inner {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-sm) 0 0;
  min-width: 32rem;
  font-size: var(--font-size-base);
  color: var(--cinder-light);
  font-family: var(--font-inter);
}
.experience1 {
  align-self: stretch;
  background-color: var(--color-seashell);
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-103xl) 6.625rem 6.313rem 7.5rem;
  gap: 9.063rem;
  font-size: var(--font-size-17xl);
  color: var(--color-darkslategray);
  min-height: 45rem;
}
.frame-group {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-mini);
  font-size: var(--font-size-base);
  color: var(--color-antiquewhite);
}
.frame-group,
.frame-parent,
.portfolio-devchapter-inner {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: 6.438rem;
}
.portfolio-devchapter-inner {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 0.063rem var(--padding-143xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-peru);
  font-family: var(--font-plus-jakarta-sans);
}
.title8 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.sensor-tracking-web {
  position: relative;
  font-weight: 500;
}
.sensor-tracking-web-app-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs-5) 0 0;
}
.right-icon1 {
  height: 1.5rem;
  width: 1.5rem;
  position: relative;
  min-height: 1.5rem;
  z-index: 1;
  margin-left: -0.375rem;
}
.applle1 {
  height: 3.25rem;
  border-radius: var(--br-9xs);
  background-color: #1e1e1e;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm) var(--padding-13xl);
  box-sizing: border-box;
  color: var(--color-antiquewhite);
  gap: 1rem;
  cursor: pointer;
}
.cloud-based-online {
  position: relative;
}
.project-unselected-wrapper {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-5xl);
}
.college-itinerary-planner {
  position: relative;
}
.college-itinerary-planner-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-5xl);
}
.cpu-cycle-simulator,
.smart-robotic-platform,
.spark-android-instant {
  position: relative;
}
.output-branch {
  flex: 1;
  flex-direction: column;
  gap: 1.688rem;
}
.applle-group,
.input-cluster,
.output-branch,
.title-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.input-cluster {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-5xl);
  box-sizing: border-box;
}
.applle-group,
.title-group {
  flex-direction: column;
}
.applle-group {
  align-self: stretch;
  gap: 2.331rem;
  font-size: var(--font-size-base);
  color: var(--color-whitesmoke);
  font-family: var(--font-inter);
}
.title-group {
  width: 23.375rem;
  gap: var(--gap-78xl);
  min-width: 23.375rem;
}
.sensor-tracking-web1 {
  margin: 0;
}
.job-title1,
.period1 {
  position: relative;
  font-weight: 500;
}
.job-title1 {
  align-self: stretch;
}
.period1 {
  width: 21.063rem;
  font-size: var(--font-size-sm);
  line-height: 1.5rem;
  color: var(--color-whitesmoke);
  display: inline-block;
  max-width: 100%;
}
.flow-control {
  width: 24.313rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.313rem;
  max-width: 100%;
}
.swift4 {
  position: relative;
  font-size: var(--font-size-xs);
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-seashell);
  text-align: left;
  display: inline-block;
  min-width: 3.938rem;
}
.tag4 {
  cursor: pointer;
  border: 1px solid var(--color-seashell);
  padding: var(--padding-9xs) var(--padding-6xs);
  background-color: transparent;
  flex: 1;
  border-radius: var(--br-9xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.tag4:hover,
.tag5:hover,
.tag6:hover {
  background-color: var(--color-gainsboro-400);
  border: 1px solid var(--color-gainsboro-300);
  box-sizing: border-box;
}
.swift5 {
  position: relative;
  font-size: var(--font-size-xs);
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-seashell);
  text-align: left;
  display: inline-block;
  min-width: max-content;
}
.tag5 {
  cursor: pointer;
  border: 1px solid var(--color-seashell);
  padding: var(--padding-9xs) var(--padding-6xs);
  background-color: transparent;
  width: 3.063rem;
  border-radius: var(--br-9xs);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.swift6 {
  position: relative;
  font-size: var(--font-size-xs);
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-seashell);
  text-align: left;
  display: inline-block;
  min-width: 1.563rem;
}
.submit:hover,
.tag6 {
  box-sizing: border-box;
}
.tag-group,
.tag6 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.tag6 {
  cursor: pointer;
  border: 1px solid var(--color-seashell);
  padding: var(--padding-9xs) var(--padding-6xs);
  background-color: transparent;
  width: 2.563rem;
  border-radius: var(--br-9xs);
}
.tag-group {
  width: 12.375rem;
  padding: 0 0 var(--padding-7xs);
  box-sizing: border-box;
  gap: 0.906rem;
}
.line-wrapper3,
.line6 {
  align-self: stretch;
  box-sizing: border-box;
  max-width: 100%;
}
.line6 {
  flex: 1;
  position: relative;
  border-top: 1px solid var(--color-seashell);
}
.line-wrapper3 {
  height: 0.438rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-7xs);
}
.line7 {
  width: 0.625rem;
  height: 0.125rem;
  position: relative;
  background-color: var(--light-4);
}
.branching-tree {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.5rem 0 0;
}
.developed-and-built {
  flex: 1;
  position: relative;
  white-space: pre-wrap;
  display: inline-block;
  min-width: 29.625rem;
  max-width: 100%;
}
.decision-tree {
  width: 47.313rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lg);
  max-width: 100%;
}
.line8 {
  width: 0.625rem;
  height: 0.125rem;
  position: relative;
  background-color: var(--light-4);
}
.while-loop {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xs-3) 0 0;
}
.performed-thorough-test {
  height: 2.25rem;
  flex: 1;
  position: relative;
  display: inline-block;
  min-width: 30.75rem;
  max-width: 100%;
}
.else-statement {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lg);
  max-width: 100%;
}
.decision-tree-parent,
.variable-store {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
}
.decision-tree-parent {
  display: flex;
  align-items: flex-start;
  gap: 0.813rem;
  max-width: 100%;
  font-size: var(--font-size-base);
  color: var(--color-seashell);
}
.variable-store {
  gap: 1.625rem;
}
.connection-point,
.frame-parent9,
.tree-algo,
.variable-store {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.connection-point {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-21xl) 0 0;
  box-sizing: border-box;
  min-width: 31.875rem;
  font-size: var(--font-size-lg);
  color: var(--color-antiquewhite);
  font-family: var(--font-inter);
}
.frame-parent9,
.tree-algo {
  flex-direction: row;
}
.frame-parent9 {
  width: 75.625rem;
  justify-content: flex-start;
  gap: 3.188rem;
}
.tree-algo {
  width: 89.125rem;
  justify-content: center;
  padding: 0 var(--padding-xl) 8.313rem;
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-peru);
  font-family: var(--font-plus-jakarta-sans);
}
.title9 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.default-case,
.message,
.name1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.message,
.name1 {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: var(--white);
  align-self: stretch;
  height: 3rem;
  border-radius: var(--br-5xs);
  flex-direction: row;
  padding: var(--padding-base) var(--padding-5xl) var(--padding-mini);
  box-sizing: border-box;
  font-family: var(--font-inter);
  font-size: var(--font-size-sm);
  color: var(--cinder-light);
  min-width: 15.625rem;
}
.default-case {
  width: 37.5rem;
  flex-direction: column;
  gap: var(--gap-base);
  max-width: 100%;
}
.input,
.label {
  position: relative;
}
.input {
  height: 11.813rem;
  width: 37.5rem;
  border-radius: var(--br-5xs);
  background-color: var(--white);
  display: none;
  max-width: 100%;
}
.label {
  display: inline-block;
  min-width: 3.75rem;
  z-index: 1;
}
.textarea {
  height: 11.813rem;
  width: 37.5rem;
  border-radius: var(--br-5xs);
  background-color: var(--white);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-5xl);
  box-sizing: border-box;
  min-width: 37.5rem;
  max-width: 100%;
  resize: none;
}
.mail-icon {
  height: 1.5rem;
  width: 1.5rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.icon5 {
  align-self: stretch;
  border-radius: var(--br-base);
  background-color: var(--color-peru);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base);
}
.body,
.title10 {
  position: relative;
}
.title10 {
  font-weight: 500;
  display: inline-block;
  min-width: 3.063rem;
}
.body {
  align-self: stretch;
  font-size: var(--font-size-sm);
  line-height: 1.5rem;
  color: var(--cinder-light);
  text-align: center;
  white-space: nowrap;
}
.lock-handle {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.25rem;
}
.alignment-handle {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-9xs) 0 0;
}
.alignment-handle,
.width-handle,
.y-position-handle {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.width-handle {
  cursor: pointer;
  align-self: stretch;
  flex: 1;
  flex-direction: row;
  gap: var(--gap-base);
}
.y-position-handle {
  height: 3.813rem;
  width: 14.625rem;
  flex-direction: column;
  padding: var(--padding-8xs) 0 0;
  box-sizing: border-box;
  font-size: var(--font-size-base);
  color: var(--color-darkslategray);
}
.rotation-handle,
.stroke-color {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.rotation-handle {
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.stroke-color {
  flex-direction: column;
  justify-content: flex-start;
  gap: 1.5rem;
}
.light-outline-button {
  position: relative;
  font-size: var(--font-size-sm);
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--purple-light);
  text-align: left;
  display: inline-block;
  min-width: 6.188rem;
}
.submit {
  cursor: pointer;
  border: 1px solid var(--purple-lighter);
  padding: var(--padding-base) var(--padding-xl);
  background-color: var(--color-peru);
  width: 37.5rem;
  border-radius: var(--br-5xs);
  box-sizing: border-box;
  overflow: hidden;
  flex-direction: row;
  justify-content: center;
}
.submit:hover {
  background-color: var(--color-saddlebrown-100);
  border: 1px solid #d1cce6;
}
.contact-form,
.fill-color,
.submit,
.symbol-library {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.fill-color {
  width: 62.938rem;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-29xl);
  font-size: var(--font-size-sm);
  color: var(--cinder-light);
  font-family: var(--font-inter);
}
.contact-form,
.symbol-library {
  box-sizing: border-box;
}
.contact-form {
  flex: 1;
  background-color: var(--color-seashell);
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-66xl) 9.125rem 4.188rem;
  gap: 2.563rem;
}
.symbol-library {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 var(--padding-10xs);
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-darkslategray);
  font-family: var(--font-plus-jakarta-sans);
}
.logo-icon {
  width: 7.125rem;
  height: 2.563rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.combined-shape-icon {
  width: 0.713rem;
  height: 0.15rem;
  position: relative;
  display: none;
}
.email-icon1,
.github-icon1,
.linkedin-icon1 {
  cursor: pointer;
  height: 1.5rem;
  width: 1.5rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 1.5rem;
}
.add-button,
.footer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.footer {
  flex: 1;
  background-color: var(--color-seashell);
  justify-content: center;
  padding: 6.813rem 40.563rem 6.75rem;
  gap: var(--gap-xl);
}
.add-button {
  align-self: stretch;
  justify-content: center;
}
.portfolio-devchapter {
  width: 100%;
  max-width: 1300px;
  /* align-self: center; */
  margin: 0 auto;
  position: relative;
  background-color: #0b0c0c;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 2.563rem 0 0;
  box-sizing: border-box;
  letter-spacing: normal;
}
.contact-info{
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-peru);
  font-family: var(--font-plus-jakarta-sans);
  width: 100%;
  padding: 0 0 0 0;
  padding-bottom: 0;
}
@media screen and (max-width: 1425px) {
  .skills1 {
    padding-left: var(--padding-42xl);
    padding-right: var(--padding-42xl);
    box-sizing: border-box;
  }
  .portfolio-devchapter-inner {
    padding-bottom: 6.563rem;
    box-sizing: border-box;
  }
  .contact-form {
    padding-left: var(--padding-54xl);
    padding-right: var(--padding-54xl);
    box-sizing: border-box;
  }
  .footer {
    justify-content: center;
  }
}
@media screen and (max-width: 1200px) {
  .button {
    align-self: stretch;
    width: auto;
  }
  .tabbed-panel-wrapper {
    flex: 1;
  }
  .separator {
    justify-content: center;
  }
  .span-top{
    padding-top: 3 rem;
  }
  .separator,
  .service-item {
    flex-wrap: wrap;
  }
  .service-item2 {
    flex-wrap: wrap;
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .skills-wrapper {
    padding-bottom: var(--padding-66xl);
    box-sizing: border-box;
  }
  .title-wrapper {
    width: 18.5rem;
  }
  .frame-wrapper {
    width: 78rem;
  }
  .description-wrapper1{
    max-width: 25%;   
  }
  .universities {
    /* flex: 1; */
  }
  .universities-parent {
    flex-wrap: wrap;
    /* gap: 9.25rem 4.625rem; */
  }
  .title-parent {
    flex: 1;
  }
  .experience1 {
    flex-wrap: wrap;
    padding: var(--padding-103xl) 6.625rem 6.313rem 4.5rem;
  }
  .applle1{
    width: 100%;
    justify-content: space-between;

  }
  .title-group {
    flex: 1;
  }
  .frame-parent9 {
    flex-wrap: wrap;
  }
  .tree-algo{
    padding: 0 var(--padding-xl) var(--padding-67xl) 4.5rem;
  }
  .textarea {
    flex: 1;   
    /* min-width: 100%; */
    /* width: 37.5rem; */
    max-width: 15.625rem;
  }
  .width-handle {
    display: none;
  }
  .rotation-handle {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 825px) {
  .connection-wrapper {
    display: none;
  }
  .list-item {
    width: 34.5rem;
  }
  .value-container {
    flex: 1;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 var(--padding-xl) var(--padding-mini) 1.313rem;
  }
  .name {
    font-size: 2.188rem;
  }
  .tabbed-panel {
    gap: 1rem 2rem;
  }
  .tabbed-panel-wrapper {
    min-width: 100%;
  }
  .separator-wrapper {
    padding-bottom: 7.813rem;
    box-sizing: border-box;
  }
  .title {
    font-size: var(--font-size-10xl);
  }
  .title-parent{
    height: 0rem;
  }
  
  .service-item {
    /* gap: 0rem 0rem; */
    gap: 1.5rem;
    padding: var(--padding-5xl) var(--padding-11xl) var(--padding-mid);
  }
  .service-item1{
    gap: 1.5rem;
  }
  .description-container,
  .description-frame {
    min-width: 100%;
  }
  .span-top{
    padding-top:  2rem;
  }
  .skills1 {
    gap: 2.188rem 4.375rem;
    padding: 3.5rem var(--padding-11xl) 8.125rem;
    box-sizing: border-box;
  }
  .title6 {
    font-size: var(--font-size-10xl);
  }
  .universities {
    min-width: 100%;
    height: auto;
  }
  .description-wrapper1 {
    display: none;
  }
  .universities-parent {
    /* gap: 9.25rem 2.313rem; */
  }
  .title7 {
    font-size: var(--font-size-10xl);
  }
  .applle-parent {
    display: none;
  }
  .engineered-efficient-rest {
    min-width: 100%;
  }
  .education-wrapper{
    margin-left: 1.5rem;
  }
  .frame-parent6 {
    flex-wrap: wrap;
  }
  .achieved-an-optimized {
    min-width: 100%;
  }
  .frame-parent7 {
    flex-wrap: wrap;
  }
  .created-reactjs-page {
    min-width: 100%;
  }
  .frame-parent8 {
    flex-wrap: wrap;
  }
  .experience-inner {
    min-width: 100%;
  }
  .experience1 {
    gap: 2.063rem 4.5rem;
    padding: 4.938rem 3.313rem 4.125rem 2.75rem;
    box-sizing: border-box;
  }
  .frame-parent {
    gap: 3.188rem 6.438rem;
    justify-content: left;
  }
  .portfolio-devchapter-inner {
    padding-bottom: 4.25rem;
    box-sizing: border-box;
  }
  .title8 {
    font-size: var(--font-size-10xl);
  }
  .applle-group {
    display: none;
  }
  .developed-and-built {
    min-width: 100%;
  }
  .decision-tree {
    /* flex-wrap: wrap; */
  }
  .performed-thorough-test {
    min-width: 100%;
  }
  .else-statement {
    flex-wrap: wrap;
  }
  .connection-point {
    min-width: 100%;
  }
  .frame-parent9 {
    gap: 0.188rem 1.563rem;
  }
  .tree-algo {
    /* padding-bottom: ; */
    padding: 0 var(--padding-xl) var(--padding-67xl) 2.5rem;
    box-sizing: border-box;
  }
  .title9 {
    font-size: var(--font-size-10xl);
  }
  .fill-color {
    gap: 1.5rem 3rem;
  }
  .contact-form {
    gap: 1.25rem 2.563rem;
    padding: var(--padding-36xl) var(--padding-17xl) 2.75rem;
    box-sizing: border-box;
  }
  .footer {
    padding-left: var(--padding-305xl);
    padding-right: var(--padding-305xl);
    box-sizing: border-box;
  }
  .description-wrapper1{
    display: none
  }
  .frame-wrapper {
    justify-content: left;
    /* padding-left: 10rem; */
  }
  .title-wrapper{
    justify-content: left;
  }
  .textarea{
    min-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .name {
    font-size: 1.625rem;
  }
  .title {
    font-size: var(--font-size-3xl);
  }
  .service-item {
/*     gap: 4.125rem 1rem; */
  }
  .service-item1 {
    gap: var(--gap-xl);
  }
  .service-item2 {
    gap: 3.625rem 1.813rem;
  }
  .items {
    gap: 1.75rem 3.5rem;
  }
  .skills1 {
    gap: 1.063rem 4.375rem;
    padding-top: var(--padding-17xl);
    padding-bottom: 5.25rem;
    box-sizing: border-box;
  }
  .skills-wrapper {
    padding-bottom: var(--padding-36xl);
    box-sizing: border-box;
  }
  .title6 {
    font-size: var(--font-size-3xl);
  }
  .universities {
    gap: 2rem 4rem;
  }
  .description-wrapper1 {
    max-width: 25%;
  }
  .universities-parent {
    /* gap: 9.25rem 1.125rem; */
  }
  .title7 {
    font-size: var(--font-size-3xl);
  }
  .applle-parent {
    gap: 1.188rem 2.344rem;
  }
  .title-parent {
    gap: 3rem 6.063rem;
  }
  .experience1 {
    gap: 9.063rem 2.25rem;
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .frame-wrapper {
    justify-content: left;
    padding-left: 2rem;
  }
  .frame-parent {
    gap: 1.625rem 6.438rem;
  }
  .title8 {
    font-size: var(--font-size-3xl);
  }
  .applle-group {
    gap: 1.188rem 2.331rem;
  }
  .title-group {
    gap: 3rem 6.063rem;
    min-width: 100%;
  }
  .title9 {
    font-size: var(--font-size-3xl);
  }
  .footer {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
